{% extends 'anime/base.html' %}
{% block header %} bg1 {% endblock %}
{% block anime %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for i in anime_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="men-thumb-item">
                            <img src="{{ i.poster.url }}" class="img-fluid" alt="" >
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ i.get_absolute_url }}" class="editContent" >{{ i.title }}</a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money editContent" >«{{ i.tagline }}»</span>
                                </div>
                            </div>
                            <ul class="stars">
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                                <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                                <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                                <li><a href="#"><span class="fa fa-star-o" aria-hidden="true" ></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
