{% load static %}
{% load anime_tag %}
{% block headerimg %}
    <div class="main-banner bg bg1" id="home"
     style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url('{% static 'anime.webp' %}');">
{% endblock %}
    <header class="header">
        <div class="container-fluid px-lg-5">
            <nav class="py-4">
                <div id="logo">
                    <h1><a href="{% url 'anime_list' %}" class="editContent">DjangoAnime</a></h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="{% url 'anime_list' %}">Главная</a></li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                        <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            {% get_categories as categories %}
                            {% for category in categories %}
                                <li><a href="{% url 'anime_detail' category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a style="color: rgb(255, 255, 255); font-weight: 700;">{{ user.username }}</a>
                            <a href="{% url 'account_logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выход</a>
                        {% else %}
                            <a href="{% url 'account_login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a>
                            <a href="{% url 'account_signup' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регистрация</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner-info">
        <p class="editContent" >лучший сайт на django 3</p>
        <h3 class="mb-4 editContent">Все о кино</h3>
        <div class="ban-buttons">
        </div>
    </div>
</div>

