{% load anime_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent" >Поиск фильма</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent" >
        <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
    </form>
</div>
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent" >Жанры</h3>
        <ul class="w3layouts-box-list">
            {% for get_genre in view.get_genres %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="genre" value="{{ get_genre.id }}">
                    <span class="span editContent" >{{ get_genre.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent" >Год</h3>
        <ul class="w3layouts-box-list">
            {% for get_year in view.get_years %}
                <li class="editContent" >
                    <input type="checkbox" class="checked" name="year" value="{{ get_year.year }}">
                    <span class="span editContent" >{{ get_year.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>
<br>
{% get_last_anime count=3 %}

