<div class="deal-leftmk left-side">
    <h3 class="sear-head editContent">Последние добавленные</h3>
    {% for last in last_anime %}
        <div class="special-sec1 row mt-3 editContent">
            <div class="img-deals col-md-4">
                <a href="{{ last.get_absolute_url }}" class="editContent" >
                    <img src="{{ last.poster.url }}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="img-deal1 col-md-4">
                <a href="{{ last.get_absolute_url }}" class="editContent" >
                    <h3 class="editContent">{{ last.title }}</h3>
                </a>
            </div>
        </div>
    {% endfor %}
</div>